[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mockito = "*"
flake8 = "*"
pytest-cov = "*"
black = "*"

[packages]
requests = "*"
DANE = "*"
elasticsearch = "*"
pika = "*"
yacs = "*"

[requires]
python_version = "3.8"
